
:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-font-title: #212121;
    --color-font-text:  #757575;
    --color-font-active: #2196F3;
    --color-border: #eee;
    /* =============================== */

    --color-background-dark: #2F303A;
    --color-background-light: #F5F4FA;

    /* ====== fonts ================== */

    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
       
}

.web {
    color: var(--color-font-active);
}

.studio {
    color: var(--color-dark);
}

.footer-studio {
    color: var(--color-background-light);
}

    /* body */

body {
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.71;
    font-size: 14px;
} 

/* container */

.container {
   width: 1200px; 
   margin: 0 auto;
   padding: 0 15px;
    
}

.title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
}



    /* ==header=================== */

    .header {
        padding: 25px 0;
        border-bottom:  1px solid var(--color-border);
    }

    .section-header {
    display: flex;
    align-items: center;
} 


.logo {
    color: var(--color-font-active);
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
}

.nav {
    margin-left: 93px;
}   

.nav-link:focus, .nav-link:hover {
    color: var(--color-font-active);
}

.nav-list {
    color: var(--color-font-title);
    display: flex;
    column-gap: 50px;
}

.nav-item {
    display: flex;
}


.nav-link {
    color: var(--color-background-dark);
}

.contacts-list {
    color: var(--color-font-text);
    margin-left:  auto;
    display: flex;
    column-gap: 50px;
}

.contacts-item {
    display: flex;
}

.contacts-link {
    color: var(--color-font-text);
}

.contacts-link:focus, .contacts-link:hover {
    color: var(--color-font-active);
}

/* ==main============================ */

/* Hero */
.hero {
    background-color: var(--color-background-dark);
    background-image: url(../images/owetlay.png), url(../images/backgroun-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    
    
}

.hero-title {
    color: var(--color-light);
    width: 696px;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    margin: 0 auto 30px ;
    text-align: center;
    text-transform: uppercase;

}


.hero-button {
    background-color: var(--color-font-active);
    color: var(--color-light);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    display: block;
    margin: 0 auto;
    
}

/* section HWW */
.section {
    padding: 94px 0;
    
}

.hww-title {
    display: none;
}


.hww-list {
        background-color: var(--color-light);
        display: flex;
        column-gap: 30px;
}

.hww-item {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 3 * 30px) / 4);
}

.hww-item::before {
    content: '';
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--color-background-light);
    background-repeat: no-repeat;
    background-position: center;
}

.attention-to-detail::before {
    background-image: url(../images/antenna.png);
}

.punctuality::before {
    background-image: url(../images/clock.png);
}

.planning::before {
    background-image: url(../images/laptop.png);
}

.state-of-the-art::before {
    background-image: url(../images/astronaut.png);
}

.hww-list-title {
    color: var(--color-font-title);
    font-family: var(--font-family);
    font-weight: 700;
}

.hww-text {
    color: var(--color-font-text);
    font-family: var(--font-family);
    font-weight: 700;
}

/*  section WWD */
    
.wwd-title {
    color: var(--color-font-title);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.wwd-list {
    display: flex;
    column-gap: 30px;
}

.wwd-item {
    display: flex;
    flex-basis: calc((100% - 2 * 30px) / 3);
}

/* Our Team */
.section.section-ot {
    background-color: var(--color-background-light);
}

.title {
    color: var(--color-background-dark);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.ot-list {
    display: flex; 
    column-gap: 30px;
}

.ot-item {
    background-color: var(--color-light) ;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 3 * 30px) / 4);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.ot-title {
    color: var(--color-font-text);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    margin: 0 auto;
    
}

.ot-text {
    color: var(--color-background-dark);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    margin: 0 auto 10px;
}

.container-ot-text {
    padding: 30px 62px 30px;
    text-align: center;

}



/* ==footer================= */


.footer {
    background-color: var(--color-background-dark);
    padding: 60px 0;
}


.footer-hero {
    font-style: normal;
}

.footer-text {
    color: var(--color-light);
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.71;
}
.footer-link {
    color:  rgba(255, 255, 255, 0.6);
    
}


/* PORTFOLIO */

/* filter-section */

.filter-tittle {
    display: none;
}

.filter-section {
    padding: 94px 0 34px;
}

.filter-list {
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.filter-button {
    background-color: var(--color-background-light);
    color: var(--color-font-title);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
}

.filter-button:focus,.filter-button:hover {
    background-color: var(--color-font-active);
    color: var(--color-background-light);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

/* gallery-section */

.gallery { 
    padding: 94px 0 34px 0 ;
}

.portfolio-tittle {
    display: none;
}

.hero-portfolio-list {
    margin-bottom: 94px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.hero-portfolio-item {
    outline: 1px solid var(--color-border);
    flex-basis: calc((100% - 2 * 30px) / 3);
}

.hero-portfolio-item:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.hero-portfolio-item-tittle {
    color: var(--color-font-title);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin: 20px 24px 4px;
}

.hero-portfolio-item-text {
    color: var(--color-font-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    margin: 0px 24px 20px;
}