
:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-font-title: #212121;
    --color-font-text:  #757575;
    --color-font-active: #2196F3;
    --color-border: #eee;
    --color-border-rc: #afb1b8;
    /* =============================== */

    --color-background-dark: #2F303A;
    --color-background-light: #F5F4FA;
    --color-footer-link: rgba(255, 255, 255, 0.1);

    /* ====== fonts ================== */

    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
       
}

.web {
    color: var(--color-font-active);
}

.studio {
    color: var(--color-dark);
}

.footer-studio {
    color: var(--color-background-light);
}

    /* body */

body {
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.71;
    font-size: 14px;
    max-width: 1600px;
    margin: 0 auto;
} 

/* container */

.container {
   width: 1200px; 
   margin: 0 auto;
   padding: 0 15px;
    
}

.title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
}



    /* == HEADER =================== */

    .header {
        padding: 25px 0;
        border-bottom:  1px solid var(--color-border);
    }

    .section-header {
    display: flex;
    align-items: center;
} 


.logo {
    color: var(--color-font-active);
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
}

.nav {
    margin-left: 93px;
}   

.nav-link:focus, .nav-link:hover {
    color: var(--color-font-active);
}

.nav-list {
    color: var(--color-font-title);
    display: flex;
    column-gap: 50px;
}

.nav-item {
    display: flex;
    position: relative;
}

.nav-link:hover::after {
    content: '';
    position: absolute;
    top: 56px;
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--color-font-active);
}

#studio::after {
    content: '';
    position: absolute;
    top: 56px;
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--color-font-active);
}

#portfolio::after {
    content: '';
    position: absolute;
    top: 56px;
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--color-font-active);
}


.nav-link {
    color: var(--color-background-dark);
}

/*  */

.contacts-list {
    color: var(--color-font-text);
    margin-left:  auto;
    display: flex;
    column-gap: 50px;
}

.contacts-item {
    display: flex;
}

.contacts-link {    
    display: flex;
    align-items: center;
    color: var(--color-font-text);
}

.contacts-link:focus, .contacts-link:hover {
    color: var(--color-font-active);
}

.contacts-icon {
    margin-right: 10px;
    fill: var(--color-font-text);  
}

.contacts-link:hover .contacts-icon {
    fill: var(--color-font-active);
}

/* == MAIN ============================ */

/* -- Hero -- */

.hero {
    background-color: var(--color-background-dark);
    background-image: url(../images/owetlay.png), url(../images/backgroun-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    max-width: 1600px;
}

.hero-title {
    color: var(--color-light);
    width: 696px;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    margin: 0 auto 30px ;
    text-align: center;
    text-transform: uppercase;

}


.hero-button {
    background-color: var(--color-font-active);
    color: var(--color-light);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    display: block;
    margin: 0 auto;
    
}

/*--HWW - HOW WE WORK--*/

.section {
    padding: 94px 0;
    
}

.hww-title {
    display: none;
}


.hww-list {
        background-color: var(--color-light);
        display: flex;
        column-gap: 30px;
}

.hww-item {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 3 * 30px) / 4);
}

.hww-background {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--color-background-light);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hww-list-title {
    color: var(--color-font-title);
    font-family: var(--font-family);
    font-weight: 700;
}

.hww-text {
    color: var(--color-font-text);
    font-family: var(--font-family);
    font-weight: 700;
}

/*  section WWD */
    
.wwd-title {
    color: var(--color-font-title);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.wwd-list {
    display: flex;
    column-gap: 30px;
}

.wwd-item {
    display: flex;
    flex-basis: calc((100% - 2 * 30px) / 3);
    position: relative;
}

.wwd-text {
    position: absolute;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-background-light);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 27px 0;
    background-color:   rgba(47, 48, 58, 0.8);
}

/* Our Team */
.section.section-ot {
    background-color: var(--color-background-light);
}

.tittle {
    color: var(--color-background-dark);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.ot-list {
    display: flex; 
    column-gap: 30px;
}

.ot-item {
    background-color: var(--color-light) ;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 3 * 30px) / 4);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.ot-title {
    color: var(--color-font-text);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    margin: 0 auto;
    
}

.ot-filter-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
}

.ot-filter-link:hover  {
    background-color: var(--color-font-active);
}

.ot-filter-link:hover .ot-filter-image {
    fill: var(--color-background-light);
}

.ot-text {
    color: var(--color-background-dark);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    margin: 0 auto 10px;
}

.container-ot-text {
    padding: 30px 32px 30px;
    text-align: center;

}

.ot-filter-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    margin-top: 16px;
}

.ot-filter-item {
    flex-basis: calc((100% - 3 * 10px) / 4);
}

.ot-filter-image { 
    fill: var(--color-border-rc);
    width: 20px;
    height: 20px;
}

/* == Regular Customers ================= */

.rc-list { 
    display: flex;
    column-gap: 30px;
}
.rc-item {
    border: 1px solid var(--color-border-rc);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    flex-basis: calc((100% - 5 * 30) / 6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rc-item:hover {
    border: 1px solid var(--color-font-active);
}

.rc-image {
    fill: var(--color-border-rc);
}

.rc-item:hover .rc-image {
    fill: var(--color-font-active);
}



/* == Footer ================= */


.footer {
    background-color: var(--color-background-dark);
    padding: 60px 0;
}

.footer-position {
    display: flex;

}

.footer-part:first-child {
    margin-right: 70px;
}


.footer-hero {
    font-style: normal;
    display: flex;
}

.footer-text {
    color: var(--color-light);
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.71;
}

.footer-link {
    color:  rgba(255, 255, 255, 0.6); 
}

/* Footer Part - 2  */

.footer-part:nth-child(2) {
    margin-top: 12px;
}

.footer-title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-light);
}

.follow-list {
    display: flex;
    flex-wrap: wrap ;
    column-gap: 10px;
    margin-top: 20px;
}

.follow-item {
    flex-basis: calc((100% - 3 * 10x) / 4);
}

.follow-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--color-footer-link) ;
    border-radius: 50px;

}

.follow-link:hover {
    background-color: var(--color-font-active);
}

.follow-image {
    fill: var(--color-background-light);
    width: 20px;
    height: 20px;
}

/* Part 3 */
.footer-part-3 {
    display: flex;
    margin-left: 93px;
    margin-top: 12px;
}

.label-footer {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-light);
}

.input-footer {
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.6);
    padding: 15px;
}

.footer-follow-btn { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
    margin-left: 12px;
    border: none;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-light);
    background-color: var(--color-font-active);
}

.footer-follow-btn-icon {
    margin-left: 12px;
    width: 24px;
    height: 24px;
}

/* PORTFOLIO */

/* filter-section */

.filter-tittle {
    display: none;
}

.filter-section {
    padding: 94px 0 34px;
}

.filter-list {
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.filter-button {
    background-color: var(--color-background-light);
    color: var(--color-font-title);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
}

.filter-button:focus, .filter-button:hover {
    background-color: var(--color-font-active);
    color: var(--color-background-light);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

/* gallery-section */

.gallery { 
    padding: 94px 0 34px 0 ;
}

.portfolio-tittle {
    display: none;
}

.hero-portfolio-list {
    margin-bottom: 94px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.hero-portfolio-item {
    outline: 1px solid var(--color-border);
    flex-basis: calc((100% - 2 * 30px) / 3);
}

.hero-portfolio-item:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.hero-portfolio-img-container {
    position: relative;
    overflow: hidden;
}

.hero-portfolio-item-img {
    width: 100%;
    height: 100%;
}

.hero-portfolio-img-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: var(--color-border);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-100%);
}

.hero-portfolio-img-container:hover .hero-portfolio-img-text{
    transform: translate(0);
}

.hero-portfolio-item-tittle {
    color: var(--color-font-title);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin: 20px 24px 4px;
}

.hero-portfolio-item-text {
    color: var(--color-font-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    margin: 0px 24px 20px;
}

/* Розмітка Модального Вікна */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    width: 528px;
    background-color: var(--color-light);
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.modal-text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    padding-top: 40px;
    text-align: center;
    fill: var(--color-font-title);
}


.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--color-footer-link) ;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-btn-icon:hover {
    fill: var(--color-font-active);
}

.hero-modal-form-filed {
    margin-top: 12px;
    margin-left: 40px ;
    margin-right: 40px;
}


.hero-modal-label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: var(--color-font-text);
}

.input-container {
    position: relative;
}

.hero-modal-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 40px;
    padding-left: 38px;
}

.hero-modal-input:focus {
    outline: 1px solid var(--color-font-active);
    border: 1px solid var(--color-font-active);
}

.hero-modal-input:hover {
    outline: 1px solid var(--color-font-active);
    border: 1px solid var(--color-font-active);
}

.hero-modal-input:hover ~ .hero-modal-icon {
    fill: var(--color-font-active);
}

.hero-modal-input:focus ~ .hero-modal-icon {
    fill: var(--color-font-active);
}



.hero-modal-comment {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    color: rgba(117, 117, 117, 0.5);
}

.hero-modal-comment:focus {
    outline: 1px solid var(--color-font-active);
    border: 1px solid var(--color-font-active);
}

.hero-modal-comment:hover {
    outline: 1px solid var(--color-font-active);
    border: 1px solid var(--color-font-active);
}

.hero-modal-icon {
    position: absolute;
    top: 14px;
    left: 15px;
    fill: var(--color-font-title);
}


.modal-button { 
    background-color: var(--color-font-active);
    color: var(--color-light);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    margin-top: 30px;
    margin-bottom: 40px;
}

.hero-modal-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    margin-top: 12px;
    text-align: center;
    color: var(--color-font-text);
}

.hero-modal-check-link {
    color: var(--color-font-active);
    text-decoration: underline;
}

.hero-input-check:checked {
    background-color: var(--color-font-active);
}