
:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-font-title: #212121;
    --color-font-text:  #757575;
    --color-font-active: #2196F3;
    /* =============================== */

    --color-background-dark: #2F303A;
    --color-background-light: #F5F4FA;

    /* ====== fonts ================== */

    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
       
}

.web {
    color: var(--color-font-active);
}

.studio {
    color: var(--color-dark);
}

.footer-studio {
    color: var(--color-background-light);
}

    /* body */

body {
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.71;
} 

/* container */

.container {
   width: 1170px; 
   margin: 0 auto;
   padding: 0 15px;
    
}



    /* ==header=================== */

    .header {
        padding: 25px 0;
    }


.logo {
    color: var(--color-font-active);
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
}

.nav-link:focus, .nav-link:hover {
    color: var(--color-font-active);
}

.nav-list {
    color: var(--color-font-title);
}

.nav-link {
    color: var(--color-background-dark);
}

.contacts-list {
    color: var(--color-font-text);
}

.contacts-link {
    color: var(--color-font-text);
}

.contacts-link:focus, .contacts-link:hover {
    color: var(--color-font-active);
}

/* ==main============================ */

/* section Hero */
.hero {
    background-color: var(--color-background-dark);
    padding: 200px 0;
}

.hero-title {
    color: var(--color-light);
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
}

.hero-button {
    background-color: var(--color-font-active);
    color: var(--color-light);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
}

/* section HWW */
.section {
    padding: 94px 0;
    
}


.section-hww-title {
        background-color: var(--color-light);
}

.section-hww-list-title {
    color: var(--color-font-title);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
}

.section-hww-text {
    color: var(--color-font-text);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
}

/*  section WWD */
    
.section-wwd-title {
    color: var(--color-font-title);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
}

/* Our Team */
.section.section-ot {
    background-color: var(--color-background-light);
}

.section-ot-title {
    color: var(--color-background-dark);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
}

.section-ot-list-title {
    color: var(--color-font-text);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
}

.section-ot-text {
    color: var(--color-background-dark);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
}

/* ==footer================= */

.footer {
    background-color: var(--color-font-title);
    padding: 60px 0;
}

.footer-text {
    color: var(--color-light);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.footer-link {
    color:  rgba(255, 255, 255, 0.6);
    
}


/* PORTFOLIO */

/* filter-section */
.filter-section {
    padding: 94px 0 34px;
}

.filter-button {
    background-color: var(--color-background-light);
    color: var(--color-font-title);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.filter-button:focus,.filter-button:hover {
    background-color: var(--color-font-active);
    color: var(--color-background-light);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

/* gallery-section */

.gallery { 
    padding: 34px 0 94px 0 ;
}

.hero-portfolio-item-tittle {
    color: var(--color-font-title);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.hero-portfolio-item-text {
    color: var(--color-font-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}